flows.json
[
    {
        "id": "abf430ab9cfee905",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4d53ee97ad0311a6",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "63965d808ff1bb6e",
        "type": "subflow",
        "name": "status online",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 80,
                "y": 180,
                "wires": [
                    {
                        "id": "3ad749041072c575"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 1120,
                "y": 280,
                "wires": [
                    {
                        "id": "06bf9a8fac38414e",
                        "port": 0
                    },
                    {
                        "id": "bb3b35a6bfa0def5",
                        "port": 0
                    },
                    {
                        "id": "a267e43e7b0ff1fe",
                        "port": 0
                    },
                    {
                        "id": "5b625da5e955d153",
                        "port": 0
                    },
                    {
                        "id": "be18eb5899ee3bb4",
                        "port": 0
                    },
                    {
                        "id": "51d003316aedeaf9",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "a383835818b7681a",
        "type": "group",
        "z": "4d53ee97ad0311a6",
        "name": "Guardado de data local",
        "style": {
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "3c0cf9d7b9fc8d32",
            "1e54bc9422fc9d45",
            "1a91beaae3b7c29f",
            "0144841910857dd0",
            "dccf3ef5f5ffab03",
            "be1b9be609783b77",
            "43c5de282fd0927e",
            "565d788bd2dc9d4e",
            "088148528fb84889"
        ],
        "x": 134,
        "y": 439,
        "w": 1142,
        "h": 162
    },
    {
        "id": "1b5ad41c50a916b7",
        "type": "group",
        "z": "4d53ee97ad0311a6",
        "name": "DELETE ALL DATA MANUALLY (CAREFULL)",
        "style": {
            "label": true
        },
        "nodes": [
            "72985e3e1550e70a",
            "0259792c6364af43",
            "1ad32e19c0123f3c"
        ],
        "x": 174,
        "y": 679,
        "w": 572,
        "h": 82
    },
    {
        "id": "20aa6fa811d70d43",
        "type": "MySQLdatabase",
        "name": "",
        "host": "localhost",
        "port": "3306",
        "db": "acme_db",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "9bcbb125a6d88775",
        "type": "mqtt-broker",
        "name": "ACME_broker",
        "broker": "161.132.39.167",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "3ad749041072c575",
        "type": "switch",
        "z": "63965d808ff1bb6e",
        "name": "running?",
        "property": "connection",
        "propertyType": "global",
        "rules": [
            {
                "t": "eq",
                "v": "shutdown",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "disconnected",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "connected",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 240,
        "y": 180,
        "wires": [
            [
                "4caacd27ac7c72dd"
            ],
            [],
            [
                "6b7a1e2406578c48"
            ]
        ]
    },
    {
        "id": "bb3b35a6bfa0def5",
        "type": "change",
        "z": "63965d808ff1bb6e",
        "name": "0 - Apagado",
        "rules": [
            {
                "t": "set",
                "p": "filtered_data.state",
                "pt": "global",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 790,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "06bf9a8fac38414e",
        "type": "change",
        "z": "63965d808ff1bb6e",
        "name": "1 - Inoperativo",
        "rules": [
            {
                "t": "set",
                "p": "filtered_data.state",
                "pt": "global",
                "to": "1",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 800,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "4caacd27ac7c72dd",
        "type": "switch",
        "z": "63965d808ff1bb6e",
        "name": "mantto?",
        "property": "filtered_data.mantto",
        "propertyType": "global",
        "rules": [
            {
                "t": "gt",
                "v": "0",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 400,
        "y": 140,
        "wires": [
            [
                "06bf9a8fac38414e"
            ],
            [
                "bb3b35a6bfa0def5"
            ]
        ]
    },
    {
        "id": "51d003316aedeaf9",
        "type": "change",
        "z": "63965d808ff1bb6e",
        "name": "2 - En espera sin carga",
        "rules": [
            {
                "t": "set",
                "p": "filtered_data.state",
                "pt": "global",
                "to": "2",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 830,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "be18eb5899ee3bb4",
        "type": "change",
        "z": "63965d808ff1bb6e",
        "name": "3 - En espera con carga",
        "rules": [
            {
                "t": "set",
                "p": "filtered_data.state",
                "pt": "global",
                "to": "3",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 830,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "5b625da5e955d153",
        "type": "change",
        "z": "63965d808ff1bb6e",
        "name": "4 - Traslado sin carga",
        "rules": [
            {
                "t": "set",
                "p": "filtered_data.state",
                "pt": "global",
                "to": "4",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 820,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "a267e43e7b0ff1fe",
        "type": "change",
        "z": "63965d808ff1bb6e",
        "name": "5 - Efectivo",
        "rules": [
            {
                "t": "set",
                "p": "filtered_data.state",
                "pt": "global",
                "to": "5",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 790,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "6b7a1e2406578c48",
        "type": "switch",
        "z": "63965d808ff1bb6e",
        "name": "mantto?",
        "property": "filtered_data.mantto",
        "propertyType": "global",
        "rules": [
            {
                "t": "gt",
                "v": "0",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 400,
        "y": 220,
        "wires": [
            [
                "06bf9a8fac38414e"
            ],
            [
                "298f1b9461d4fa63"
            ]
        ]
    },
    {
        "id": "298f1b9461d4fa63",
        "type": "switch",
        "z": "63965d808ff1bb6e",
        "name": "movement?",
        "property": "filtered_data.speed",
        "propertyType": "global",
        "rules": [
            {
                "t": "gt",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 490,
        "y": 360,
        "wires": [
            [
                "7dd0a7fe3080f78e"
            ],
            [
                "dad146a727a20f0d"
            ]
        ]
    },
    {
        "id": "7dd0a7fe3080f78e",
        "type": "switch",
        "z": "63965d808ff1bb6e",
        "name": "load?",
        "property": "filtered_data.load",
        "propertyType": "global",
        "rules": [
            {
                "t": "gt",
                "v": "0",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 630,
        "y": 280,
        "wires": [
            [
                "a267e43e7b0ff1fe"
            ],
            [
                "5b625da5e955d153"
            ]
        ]
    },
    {
        "id": "dad146a727a20f0d",
        "type": "switch",
        "z": "63965d808ff1bb6e",
        "name": "load?",
        "property": "filtered_data.load",
        "propertyType": "global",
        "rules": [
            {
                "t": "gt",
                "v": "0",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 630,
        "y": 500,
        "wires": [
            [
                "be18eb5899ee3bb4"
            ],
            [
                "51d003316aedeaf9"
            ]
        ]
    },
    {
        "id": "1461f1bdb154ff3c",
        "type": "inject",
        "z": "abf430ab9cfee905",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 80,
        "wires": [
            [
                "5b8cd2e793b8ff3f"
            ]
        ]
    },
    {
        "id": "5b8cd2e793b8ff3f",
        "type": "change",
        "z": "abf430ab9cfee905",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "connection",
                "pt": "global",
                "to": "shutdown",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 300,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "a5111d94f7361a1b",
        "type": "mqtt in",
        "z": "4d53ee97ad0311a6",
        "name": "",
        "topic": "data/combined",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "9bcbb125a6d88775",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 120,
        "wires": [
            [
                "3ce50b04078d067d"
            ]
        ]
    },
    {
        "id": "7ae3fe0e8c7c7fd3",
        "type": "mqtt in",
        "z": "4d53ee97ad0311a6",
        "name": "",
        "topic": "data/offline/save",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "9bcbb125a6d88775",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 320,
        "wires": [
            [
                "b4b64de155e3db53",
                "f8474f24c89f9cf0"
            ]
        ]
    },
    {
        "id": "3c0cf9d7b9fc8d32",
        "type": "function",
        "z": "4d53ee97ad0311a6",
        "g": "a383835818b7681a",
        "name": "function 1",
        "func": "\nmsg.topic = \"INSERT INTO `local_data` (`data`) VALUES ('\"+ msg.payload + \"');\";\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 970,
        "y": 560,
        "wires": [
            [
                "0144841910857dd0",
                "1e54bc9422fc9d45"
            ]
        ]
    },
    {
        "id": "1e54bc9422fc9d45",
        "type": "mysql",
        "z": "4d53ee97ad0311a6",
        "g": "a383835818b7681a",
        "mydb": "20aa6fa811d70d43",
        "name": "",
        "x": 1190,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "1a91beaae3b7c29f",
        "type": "json",
        "z": "4d53ee97ad0311a6",
        "g": "a383835818b7681a",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 810,
        "y": 560,
        "wires": [
            [
                "3c0cf9d7b9fc8d32"
            ]
        ]
    },
    {
        "id": "0144841910857dd0",
        "type": "debug",
        "z": "4d53ee97ad0311a6",
        "g": "a383835818b7681a",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "topic",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1120,
        "y": 520,
        "wires": []
    },
    {
        "id": "dccf3ef5f5ffab03",
        "type": "debug",
        "z": "4d53ee97ad0311a6",
        "g": "a383835818b7681a",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 790,
        "y": 500,
        "wires": []
    },
    {
        "id": "be1b9be609783b77",
        "type": "function",
        "z": "4d53ee97ad0311a6",
        "g": "a383835818b7681a",
        "name": "Filter local data",
        "func": "let out_data = {}\n\nout_data.timestamp = msg.payload.timestamp;\nout_data.latitude = msg.payload.latitude;\nout_data.longitude = msg.payload.longitude;\nout_data.velocidad = msg.payload.speed;\nout_data.carga = msg.payload.load;\nout_data.bateria = msg.payload.battery;\nout_data.presion_bar = msg.payload.pressure_bar;\nout_data.presion_psi = msg.payload.pressure_psi;\nout_data.state = msg.payload.state;\n// out_data.estado =\nmsg.payload = out_data;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 560,
        "wires": [
            [
                "dccf3ef5f5ffab03",
                "1a91beaae3b7c29f"
            ]
        ]
    },
    {
        "id": "43c5de282fd0927e",
        "type": "function",
        "z": "4d53ee97ad0311a6",
        "g": "a383835818b7681a",
        "name": "get global",
        "func": "var data_json = global.get(\"filtered_data\");\nif (data_json.valid_data){\n    msg.payload = data_json;\nreturn msg;\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 560,
        "wires": [
            [
                "088148528fb84889"
            ]
        ]
    },
    {
        "id": "565d788bd2dc9d4e",
        "type": "inject",
        "z": "4d53ee97ad0311a6",
        "g": "a383835818b7681a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 250,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "088148528fb84889",
        "type": "debug",
        "z": "4d53ee97ad0311a6",
        "g": "a383835818b7681a",
        "name": "debug 2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 570,
        "y": 480,
        "wires": []
    },
    {
        "id": "72985e3e1550e70a",
        "type": "inject",
        "z": "4d53ee97ad0311a6",
        "g": "1b5ad41c50a916b7",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 280,
        "y": 720,
        "wires": [
            [
                "0259792c6364af43"
            ]
        ]
    },
    {
        "id": "0259792c6364af43",
        "type": "function",
        "z": "4d53ee97ad0311a6",
        "g": "1b5ad41c50a916b7",
        "name": "DELETE ALL",
        "func": "\nmsg.topic = `\n  DELETE FROM local_data;\n`;\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 720,
        "wires": [
            [
                "1ad32e19c0123f3c"
            ]
        ]
    },
    {
        "id": "1ad32e19c0123f3c",
        "type": "mysql",
        "z": "4d53ee97ad0311a6",
        "g": "1b5ad41c50a916b7",
        "mydb": "20aa6fa811d70d43",
        "name": "",
        "x": 660,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "e3472658b9dd67fe",
        "type": "debug",
        "z": "4d53ee97ad0311a6",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 180,
        "wires": []
    },
    {
        "id": "d668f2b367501da1",
        "type": "debug",
        "z": "4d53ee97ad0311a6",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 320,
        "wires": []
    },
    {
        "id": "61ad8801fa7fb43c",
        "type": "function",
        "z": "4d53ee97ad0311a6",
        "name": "last message",
        "func": "\nfunction unixTimestampToHumanReadable(unixTimestamp) {\n  const date = new Date(unixTimestamp);\n  const year = date.getFullYear();\n  const month = (date.getMonth() + 1).toString().padStart(2, '0');\n  const day = date.getDate().toString().padStart(2, '0');\n  const hours = date.getHours().toString().padStart(2, '0');\n  const minutes = date.getMinutes().toString().padStart(2, '0');\n  const seconds = date.getSeconds().toString().padStart(2, '0');\n\n  return `${year}-${month}-${day} ${hours}:${minutes}:${seconds}`;\n}\n\n\nif (msg.payload.timestamp){\nnode.status({ fill: \"green\", shape: \"ring\", text: `${unixTimestampToHumanReadable(msg.payload.timestamp)}`});\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "6b7ae4d6d10b73c4",
        "type": "function",
        "z": "4d53ee97ad0311a6",
        "name": "last message",
        "func": "\nfunction unixTimestampToHumanReadable(unixTimestamp) {\n  const date = new Date(unixTimestamp);\n  const year = date.getFullYear();\n  const month = (date.getMonth() + 1).toString().padStart(2, '0');\n  const day = date.getDate().toString().padStart(2, '0');\n  const hours = date.getHours().toString().padStart(2, '0');\n  const minutes = date.getMinutes().toString().padStart(2, '0');\n  const seconds = date.getSeconds().toString().padStart(2, '0');\n\n  return `${year}-${month}-${day} ${hours}:${minutes}:${seconds}`;\n}\n\nif (msg.payload.timestamp){\nnode.status({ fill: \"green\", shape: \"ring\", text: `${unixTimestampToHumanReadable(msg.payload.timestamp)}`});\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "b4b64de155e3db53",
        "type": "debug",
        "z": "4d53ee97ad0311a6",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 400,
        "wires": []
    },
    {
        "id": "f8474f24c89f9cf0",
        "type": "switch",
        "z": "4d53ee97ad0311a6",
        "name": "Filter Gateway",
        "property": "payload.gateway_key",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "A13CHH",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "A13CF8",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "A13Q6Q",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 320,
        "y": 320,
        "wires": [
            [],
            [],
            [
                "6b7ae4d6d10b73c4"
            ]
        ]
    },
    {
        "id": "3ce50b04078d067d",
        "type": "switch",
        "z": "4d53ee97ad0311a6",
        "name": "Filter Gateway",
        "property": "payload.gateway_key",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "A13CHH",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "A13CF8",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "A13Q6Q",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 300,
        "y": 120,
        "wires": [
            [],
            [],
            [
                "61ad8801fa7fb43c",
                "d096a76f127de332",
                "e3472658b9dd67fe"
            ]
        ]
    },
    {
        "id": "1d783f1f72fb9efb",
        "type": "change",
        "z": "4d53ee97ad0311a6",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "connection",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 760,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "d096a76f127de332",
        "type": "timeout",
        "z": "4d53ee97ad0311a6",
        "name": "Connection Timeout",
        "outtopic": "",
        "outsafe": "connected",
        "outwarning": "disconnected",
        "outunsafe": "shutdown",
        "warning": "60",
        "timer": "120",
        "repeat": false,
        "again": false,
        "x": 540,
        "y": 60,
        "wires": [
            [
                "1d783f1f72fb9efb"
            ]
        ]
    }
]